---
title: Welcome
---

<div class="banner text-center">
  <h1>Startup tools</h1>
  <p>Very cool stuff, useful and smart</p>

  <%= link_to "Get it", "team.html", class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">

    <% data.features.each do |feature| %>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature">
        <h2>
          <%= image_tag feature.icon, class: "icon" %>
          <%= feature.title %>
        </h2>
        <p><%= feature.description %></p>
      </div>
    </div>

    <% end %>

  </div>

  <div class="section">

    <h2 class="text-center">Most popular</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <% link_to "contact.html" do %>
            <%= image_tag "https://unsplash.it/800/400", class: "img-responsive", alt: "chat bubble" %>
          <% end %>
          <div class="tag">Popular</div>
          <div class="avatar">
            <img class="avatar-img" src="http://lorempixel.com/200/200/people/" alt="avatar">
          </div>
          <div class="description">
            <h4>Trello</h4>
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <img class="img-responsive" src="https://unsplash.it/800/400" alt="">
          <div class="tag">Popular</div>
          <div class="avatar">
            <img class="avatar-img" src="http://lorempixel.com/200/200/people/" alt="avatar">
          </div>
          <div class="description">
            <h4>Trello</h4>
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <img class="img-responsive" src="https://unsplash.it/800/400" alt="">
          <div class="tag">Popular</div>
          <div class="avatar">
            <img class="avatar-img" src="http://lorempixel.com/200/200/people/" alt="avatar">
          </div>
          <div class="description">
            <h4>Trello</h4>
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="section text-center">

    <h2>Get news from us</h2>
    <p>Leave us your mail and get stylus news</p>

    <form class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="jane.doe@example.com">
      </div>
      <button type="submit" class="btn btn-primary">Send invitation</button>
    </form>

  </div>

</div>

<div id="map"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);
var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title:"You are here!"
});
</script>

