---
title: Welcome
---
<div class="banner">
  <%= image_tag "https://unsplash.it/1200/400", class: "img-responsive img-border center-block" %>
   <div class="banner-shadow"></div>
    <div class="banner-content">
        <h1>Startup tools</h1>
        <p>Very cool stuff, useful and smart</p>
        <%= link_to "Get it", "home.html", class: "btn btn-primary" %>
    </div>
</div>


<div class="container">
  <div class="row">

    <% data.features.each do |feature| %>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature">
        <h2>
          <%= image_tag feature.icon, class: "icon" %>
          <%= feature.title %>
        </h2>
        <p><%= feature.description %></p>
      </div>
    </div>

    <% end %>

  </div>

  <div class="product-cards">
    <div class="container">
      <div class="row">
        <% data.products.values.each do |product| %>

        <div class="col-xs-12 col-sd-6 col-md-4">
          <div class="card">
            <% link_to do %>
              <%= image_tag product.picture %>
            <% end %>
            <div class="tag">
              <%= product.tag %>
            </div>
            <div class="title">
              <%= product.name %>
            </div>
            <div class="description">
              <%= product.summary %>
            </div>
          </div>

        </div>
        <% end %>


      </div>
    </div>
  </div>


  <div class="section text-center">

    <h2>Get news from us</h2>
    <p>Leave us your mail and get stylus news</p>

    <form class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="jane.doe@example.com">
      </div>
      <button type="submit" class="btn btn-primary">Send invitation</button>
    </form>

  </div>

</div>

<div class="container">
  <div id="map"></div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);
var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title:"You are here!"
});
</script>

